body {
  /*font-family: "Courier New", monospace;*/
  font-family: "DIN Alternate";
  color: #343a40;
  text-align: center;
  background: white; /* #F8F8F8; #bfbfbf; */
}

.chart {
  padding: 2px;
  margin: 2px;
  background: white; /* #F8F8F8; #bfbfbf; */
  text-align: left;
}
#choreoB {
  text-align: center;
}

.axes path {
  stroke: black;
  stroke-width: 0.5;
}
.axes line {
  stroke: black;
  stroke-width: 0.5;
}
.axes text {
  font-size: 14px;
  font-weight: 200;
  fill: black;
}
.axes.label {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.03em;
}
h1, h2, h3 {
  color: #1F1F1F;
  /*font-weight: 200;*/
  margin: 2px;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
h1 {
  margin: 35px 0 20px 0;
  padding: 2px;
  font-weight: 700;
  font-size: 20px;
}
h2 {
  font-size: 20px;
  text-align: justify;
}
#category {
  text-transform: uppercase;
}
.title {
  text-decoration: underline;
}

#choice {
  font-size: 14px;
  font-style: italic;
}
/* TABLE */
table {
  background: white; /* #F8F8F8; #bfbfbf; */
  margin: 25px 0 50px 0;
  letter-spacing: 0.1em;
  overflow: hidden;
  width: 100%;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
}
th {
  font-weight: bold;
  margin: 2px;
  padding: 6px;
}
.header {
  font-weight: bolder;
  color: black;
}

/* TABLE END */