body {
  font-family: "Courier New", monospace;
  color: #343a40;
  text-align: center;
  background: #bfbfbf;
}

.chart {
  padding: 2px;
  margin: 2px;
  background: #bfbfbf;
  text-align: left;
}
#choreoB {
  text-align: center;
}

.axes path {
  stroke: black;
  stroke-width: 0.5;
}
.axes line {
  stroke: black;
  stroke-width: 0.5;
}
.axes text {
  font-size: 13px;
  font-weight: 200;
  fill: black;
}
.axes.label {
  font-size: 13px;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.03em;
}
h1, h2, h3 {
  color: black;
  font-weight: 200;
  margin: 2px;
  padding: 2px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
h1 {
  margin-top: 25px;
  padding: 2px;
  font-weight: 700;
  font-size: 20px;
}
h2 {
  font-size: 15px;
  text-align: justify;
}
.title {
  text-decoration: underline;
}

#choice {
  font-size: 12px;
  font-style: italic;
}
/* TABLE */
table {
  background: #bfbfbf;
  margin: 25px 0 50px 0;
  letter-spacing: 0.1em;
  overflow: hidden;
  width: 100%;
  text-align: left;
  font-size: 13px;
  text-transform: uppercase;
}
th {
  font-weight: bold;
  margin: 2px;
  padding: 3px;
}
.header {
  font-weight: bold;
  color: black;
}

/* TABLE END */

/* Tooltips. Not in use now. */
.d3-tip {
  position: absolute;
  text-align: center;
  font-size: 12px;
  color: black;
  width: 150px;
  height: auto;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}